# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Test
.pytest_cache/
htmlcov/
.coverage

# Database & Local Data
*.db
*.sqlite
*.sqlite3
paip.db
